@charset "UTF-8";

body {
    background-color: #e8d9bf;
}

header {
    position: relative;
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 226px;
}

.pc_nav ul{
    display: flex;
    gap: 55px;
}

.pc_nav ul li {
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: bold;
    width: 105px;
    text-align: center;
}

a:hover {
    color: gray;
}

#top {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.have {
    font-size: 30px;
    margin-top: 104px;
    margin-bottom: 47px;
}

.happy {
    font-size: 82px;
    line-height: 1.17;
}

.mainichi {
    font-size: 23px;
    line-height: 1.65;
    margin-top: 19px;
    margin-bottom: 93px;
}

#about_us {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coffee {
    height: 30%;
    width: 50%;
    border-bottom-right-radius: 82px;
}

.about {
    width: 41%;
}

.subtitle_au {
   align-items: center;
    width: 272px;
}

.watashi {
    font-size: 44px;
    line-height: 1.38;
    margin-top: 48px;
    margin-bottom: 23px;
}

.service {
    line-height: 1.62;
}

#menu {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.subtitle_menu {
    align-items: center;
    width: 151px;
    margin: 95px auto 39px auto;
    margin-bottom: 39px;
}

.menu_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    position: relative;
}

.menu_photo {
    width: 156%;
    border-top-right-radius: 41px;
}

.category {
    font-size: 38px;
    color: rgba(211, 2, 2, 0.7);
    position: absolute;
    top: 187px;
}

.menu_text {
    font-size: 17px;
    line-height: 1.47;
    width: 300px;
    height: 116px;
    margin-top: 44px;
}

.subtitle_galley {
    align-items: center;
    width: 245px;
    margin: 38px auto 17px auto;
}

.gallery_photo {
    display: flex
}

.line {
    width: 20%;
    box-sizing: border-box;
}

#event {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.subtitle_event {
    align-items: center;
    width: 174px;
    margin: 59px auto 30px auto;
}

.box {
    width: 100%;
    height: 200px;
    border: 3px solid #4f260b;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event_text {
    font-size: 23px;
}

.text_link {
    text-decoration: underline;
}

.subtitle_access {
    align-items: center;
    width: 214px;
    margin: 68px auto 37px auto;
}

iframe {
    display: block;
    width: 100%;
    height: 470px;
    margin: 0%;
}

footer {
    background-color: #fff;
}

.footer_block {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.footer_logo {
    width: 227px;
    margin-top: 75px;
}

.footer_text {
    font-size: 20px;
    line-height: 1.95;
    margin-top: 75px;
    margin-left: 64px;
    margin-bottom: 73px;
}

.footer_copy {
    text-align: center;
    padding-bottom: 75px;
}

.return {
    position: fixed;
    width: 125px;
    height: 125px;
    right: 40px;
    bottom: 40px;
}


/* スマホ版メニュー */

.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    .sp_btn {
        display: block;
        height: 23px;
        cursor: pointer;
        /* 位置の調整 */
        position: absolute;
        top: 21px;
        right: 25px;
        /* 重なり具合 */
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        /* 位置の調整 */
        position: relative;
        top: 10px;
        transition: 0.3s;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        /* 位置の調整 */
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    /* ばつ印 */

    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* メニューの見た目 */

    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.8);
        /* 重なり具合 */
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 40px;
    }
    
    .sp_nav ul li {
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }


}

/* 
a {
    transition: 0.3s;
} */

/* a:hover {
    opacity: 0.5;
} */