@charset "utf-8";

.menu {
    list-style: none;
    padding: 0;
    margin: o;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.box {
    width: 30%;
    height: 300px;
    background: orange;
    border: 1px solid black;
}

@media screen and (max-width: 767px) 
{
    .container {
        flex-direction: column;
        padding: 0 10px;
    }
    
    .box {
        width: 100%;
    } 
}

