@charset "UTF-8";


/* work1-1,1-2 */

.container {
    max-width: 960px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.box {
    width: 300px;
    height: 300px;
    background: blue;
}

.six {
    flex-wrap: wrap;
}

.red {
    background-color: red;
}




/* work1-3,2-1 */

body {
    background-color: gray;
    margin: 100px 0;
}

.nav {
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: white;
    padding: 0 100px;
}

.menu { 
    display: flex; 
}

li {
    border-right: 1px solid;
    padding-right: 30px;
    padding: 7px 30px;
}

li:last-of-type {
    border-right: none;
}


@media screen and (max-width: 767px) {
    .nav {
        display: block;
        width: 60%;
        height: 100%;
        margin: 5% 20%;
        padding: 3%; 
    }

    .menu {
        display: block;
    }

    .menu li {
        border-right: none;
        border-bottom: 1px solid; 
        padding: 10px;
    }
}